{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body">
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <!-- Ensure CSRF token is included -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success shadow rounded-pill fw-bold">Accedi</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        Non hai un account? <a href="{% url 'register' %}" class="btn btn-dark shadow rounded-pill fw-bold">Registrati</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for message in messages %}
<script>
    alert("{{ message }}");
</script>
{% endfor %}
{% endblock %}
